body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ececec;
  color: #555;
}
header {
  height: 60px;
  background-color: white;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
main {
  padding-top: 0rem;
  font-size: 20px;
}
footer {
  font-size: 18px;
}
a {
  color: #e65100;
  text-decoration: none;
}
a:hover {
  color: #9e0142;
}
hr {
  border: 1px dashed #ffae63;
}
